<footer class="pie-pagina ">
   <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img src="/img/logo Total Toys.jpg">
        </a>
      </figure>
    </div>
    <div class="box">
    <h2>Contatenos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam officia, ipsum expedita doloribus dicta cum consequuntur impedit molestias similique molestiae velit. Deleniti consequuntur velit adipisci quas impedit officiis placeat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, laboriosam officia, ipsum expedita doloribus dicta cum consequuntur impedit molestias similique molestiae velit. Deleniti consequuntur velit adipisci quas impedit officiis placeat.</p>
    </div>
    <div class="box">
    <h2>Siguenos</h2>
    <div class="Redes-Sociales ">
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="#"><i class=""><i class="fa-brands fa-whatsapp"></i>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter"></i>
    </div>
  </div>
  </div>
  <div class="grupo 2">
    <small>&copy;2022 <b>Slee Dw</b> -Todos Los derechos Reservados.</small>
  </div>
</footer>