<footer>
    <img src="/img/logo Total Toys.jpg" alt="se crea logo" />
    <nav class="menu">
      
      <li><a href="">INFORMACIÓN<i class=""></i></a></li>
      <li><a href="">CONTACTO<i class=""></i></a></li>
      <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href=""><i class=""><i class="fa-brands fa-whatsapp"></i>
      <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href=""><i class="fa-brands fa-twitter"></i>
  </div>

</footer>