<footer class="pie-pagina ">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img src="img/logo Total Toys.jpeg">
        </a>
      </figure>
    </div>
    <div class="box">
      <a href="/Sobrenosotros">Sobre Nosotros</a>

      <p>TOTAL TOYS

        Distribuidora de juguetes para todas las edades
        Total toys es un sitio web creado
        para la compra y venta de juguetes para todas
        las edades, cuyo objetivo
        es lograr conexion de momentos
        felices con familias y amigos, logrando espacios
        inolvidables. todas las marcas favoritas de juguetes en un solo lugar, como Nerd, My Litle Ponny, Barby, ¡y
        muchas más! Mira figuras de acción, muñecas, juegos electrónicos, juegos de mesa y mucho más. Nuestros productos
        se clacifican de acuerdo a edades especificas .
        .</p>

    </div>
    <div class="box">
      <h2>Contáctanos</h2>
    </div>

    <div class="box">
      <h2>Siguenos</h2>
      <div class="Redes-Sociales ">
        <li><a href="/facebook"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="/WhatsApp"><i class=""><i class="fa-brands fa-whatsapp"></i>
        <li><a href="/Instagram"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="/Twitter"><i class="fa-brands fa-twitter"></i>
      </div>
    </div>
  </div>
  <div class="grupo 2">
    <small>&copy;2022 <b>Slee Dw</b> -Todos Los derechos Reservados.</small>
  </div>
</footer>