<header>
    <img src="/img/logo Total Toys.jpg" alt="se crea logo" />
    <nav class="menu">
      <li><a href="/"><i class="fa-solid fa-shop"></i></a></li>
  <!-- <li><a href="/productos/listar"><i class="fa-solid fa-arrow-left"></i> listar</a></li> -->

      <li><a href="/productcart">Mi Carrito<i class="fa-solid fa-cart-plus"></i></a></li>
      <!-- <form action="/usuario/logout" method="POST">
        <li><button href="/usuario/logout">Logout <i class="fa-solid fa-right-to-bracket"></i></button></li>  -->
        
      </form>

      
      <li><a href="/usuario/Login">Login <i class="fa-solid fa-right-to-bracket"></i></a></li>
     
      <li><a href="/usuario/register">Registrarse<i class=""></i></a></li>

      <li><a href="/productos/crear-producto">Agregar Producto</a></li>
    </nav>
    <div id="menu-icon">
      <i class="fas fa-bars"></i>
    </div>
  </header>