<header>
    <img src="/img/logo Total Toys.jpg" alt="se crea logo" />
    <nav class="menu">
      <li><a href="/"><i class="fa-solid fa-shop"></i></a></li>
      <li><a href="/Productdetail">Detalle del producto<i class=""></i></a></li>
      <li><a href="/productcart">Mi Carrito<i class="fa-solid fa-cart-plus"></i></a></li>
      <li><a href="/login">Login <i class="fa-solid fa-right-to-bracket"></i></a></li>
      <li><a href="/register">Registrarse<i class=""></i></a></li>
    </nav>
    <div id="menu-icon">
      <i class="fas fa-bars"></i>
    </div>
  </header>