<header>
    <img src="/img/logo Total Toys.jpg" alt="se crea logo" />
    <nav class="menu">
      <li><a href="/"><i class="fa-solid fa-house"></i>&nbsp; Inicio</i></a></li>
      <li><a href="/productos/listar"><i class="fa-solid fa-store"></i>&nbsp; Catálogo</a></li>

      <li><a href="/productcart"><i class="fa-solid fa-cart-plus"></i>&nbsp; Mi Carrito</a></li>
      <!-- <form action="/usuario/logout" method="POST">
        <li><button href="/usuario/logout">Logout <i class="fa-solid fa-right-to-bracket"></i></button></li>  -->
        
      </form>

      
      <li><a href="/usuario/Login"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Login</a></li>
     
      <li><a href="/usuario/register"><i class="fa-solid fa-user-plus"></i>&nbsp; Registrarse<i class=""></i></a></li>

      <!-- <li><a href="/productos/crear-producto"><i class="fa-solid fa-puzzle-piece"></i>&nbsp; Agregar Producto</a></li>
      <li><a href="/usuario/crear-usuario">Agregar usuario</a></li> -->
    </nav>
    <div id="menu-icon">
      <i class="fas fa-bars"></i>
    </div>
  </header>