<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>registro</title>
    <link rel="stylesheet" href="/css/producto.css" />
  </head>
  <body>
    <div class="fondo">
      <div class="login-box">
        <h1>creacion de producto</h1>
        <form action="/products/createProduct" method="post" enctype="multipart/form-data">
         
          
          <div style="margin-bottom:18px;">

            <label for="NombreDelProducto">Nombre del Producto</label>
          <input type="text"name="nombre" placeholder="Nombre del producto" />
        </div>
        <div style="margin-bottom:24px;">
          <label for="Descripcion">Descripcion</label>
          <input type="text" name ="descripcion" placeholder="Descripcion" />
        </div>
        <div style="margin-bottom:24px;">
          <label for="Precio">Precio</label>
            <input type="text" name="precio" pattern="\d*" placeholder="Ingrese el precio"/>
          </div>
          
        <div style="margin-bottom:24px;">
          <label for="Categoria">Categoria</label>
           <select name="categoria">
            <option value=""disabled selected> categoria</option>
            <option value="Bebes">Bebes</option>
            <option value="Niños" selected>Niños</option>
            <option value="Adolescentes">Adolescentes</option>
           
          </select>
        </div>
        <div style="margin-bottom:24px;">
          <label for="imagen">Imagen</label>
          <input type="file" name="imagen" placeholder="imagen" />
        </div>
        
          <button style="background-color:#5b78fb;">Agregar</button>
          
          
    
        </form>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
