<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>registro</title>
    <link rel="stylesheet" href="/css/producto.css" />
  </head>
  <body>
    <div class="fondo">
      <div class="login-box">
        <h1>creacion de producto</h1>
        <form action="/products/createProduct" method="post" enctype="multipart/form-data">
         
          <label for="NombreDelProducto">Nombre del Producto</label>
          <input type="text"name="nombre" placeholder="Nombre del producto" />

          <label for="Descripcion">Descripcion</label>
          <input type="text" name ="descripcion" placeholder="Descripcion" />

          

          <label for="Categoria">Categoria</label>
         
          <select name="categoria">
            <option value="Bebes">Bebes</option>
            <option value="Niños" selected>Niños</option>
            <option value="Adolescentes">Adolescentes</option>
          </select>
          
          <label for="imagen">Imagen</label>
          <input type="file" name="imagen" placeholder="imagen" />
          <label for="Precio">Precio</label>
          <input type="money" name="precio"inputmode="numeric" pattern="\d*" />
          <input type="submit" value="Registrar" />
          <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
          
    
        </form>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
