<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head') %>
    <title>registro</title>
    <link rel="stylesheet" href="/css/producto.css" />
  </head>
  
  <body>
    <%- include('./partials/header'); %>
    
    <div class="fondoEdit">
      <div class="login-box">
        
          <h1>Edición de producto</h1>
          
          <form class="form-create" method="POST" enctype="multipart/form-data">
          
        <div style="margin-bottom:18px;">
          <label for="NombreDelProducto ">Nombre del Producto</label>
          <input id="editarProductoNombre" type="text" name="nombre" placeholder="Nombre del producto" />

          <p id="editarProductoFormErrorNombre" class="formError">El campo no puede estar vacío.</p>
        </div>

        <div style="margin-bottom:24px;">
          <label for="Descripcion">Descripcion</label>
          <input id="editarProductoDescripcion" type="text" name ="descripcion" placeholder="Descripcion" />

          <p id="editarProductoFormErrorDescripcion" class="formError">El campo no puede estar vacío</p>
        </div>

        <div style="margin-bottom:24px;">
          <label for="Precio">Precio</label>
          <input id="editarProductoPrecio" type="text" name="precio" pattern="\d*" placeholder="Ingrese el precio"/>

          <p class="formError"></p>
          <p id="editarProductoFormErrorPrecio" class="formError">*El valor solo puede ser numérico.</p>
        </div>

        <div style="margin-bottom:24px;">
          <label for="urlImagen">Imagen</label>
          <input id="editarProductoUrlImg" type="text" name="urlImagen" placeholder="Url de la imagen">

          <p id="editarProductoFormErrorUrlImg" class="formError">El campo no puede estar vacío.</p>
          
          <label for="imagen">Archivo</label>
          <input type="file" name="imagen" placeholder="imagen" />
          
        </div>

        <div style="margin-bottom:24px;">
          <label for="Categoria">Categoria</label>
           <select name="categoria">
            
          </select>
        </div>
          <button class="Agregar" type="submit">Editar</button>
        </form>
      </div>
    </div>
    <%- include('./partials/footer') %>

    <script src="js/validaciones.js"></script>
    <script>
      document.getElementById("editarProductoNombre").addEventListener("click", function(event){
          document.getElementById("editarProductoFormErrorNombre").style.display = "block";
      });

      document.getElementById("editarProductoDescripcion").addEventListener("click", function(event){
          document.getElementById("editarProductoFormErrorDescripcion").style.display = "block";
      });

      document.getElementById("editarProductoPrecio").addEventListener("click", function(event){
          document.getElementById("editarProductoFormErrorPrecio").style.display = "block";
      });

      document.getElementById("editarProductoUrlImg").addEventListener("click", function(event){
          document.getElementById("editarProductoFormErrorUrlImg").style.display = "block";
      });
    </script>
  </body>
</html>