<!DOCTYPE html>
<html lang="en">
  <head> 
    <%- include('./partials/head'); %>
  <title>Pagina principal</title>
  </head>

  <body>
    <%- include('./partials/header'); %>
<!-----seccion del baneer -->
    <div class="baner">
      <div class = "capa"></div>
      <div class="info">
      <h1>Bienvenidos a Total Toys </h1> 
      <p>un lugar para so単ar y encontrar tus juguetes preferidos</p>
      <a href="#">Acerca de nosotros</a></div>
    </div>


<!--------- secion productos -->
<section>
  <div class="seccionDeLosProductos">
    <div class="producto">
      <div class="producto-image">
        <img src="/img/barbe.jpg" alt="producto de la barbie" />
      </div>
      <p>
        Mu単eca Barbie fashionista .
      </p>
      <strong>$60.000</strong>

    <div class="contenedor-botones"> 
      <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
    </div>
    </div>

    <div class="producto">
      <div class="producto-image">
        <img src="/img/dinosaurio.jpg" alt="producto dinosaurio"/>
      </div>
      <p>
        Dinosaurio Rex Tyrannosaurus n.
      </p>
      <strong>$80.000</strong>
      <div class="contenedor-botones"> 
        <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
      </div>
    </div>

    <div class="producto">
      <div class="producto-image">
        <img src="/img/boss light.jpg" alt="Producto boss light. " />
      </div>
      <p>
        Boss Lightyear
      </p>

      <strong>$120.000</strong>
      <div class="contenedor-botones"> 
        <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
      </div>
    </div>

    <div class="producto">
      <div class="producto-image">
        <img src="/img/yoda.jpeg" alt="porducto Yoda " />
      </div>
      <p>Yoda </p>

      <strong>$80.000</strong>
      <div class="contenedor-botones"> 
        <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
      </div>

    </div>

    <div class="producto">
      <div class="producto-image">
        <img src="/img/el-sr-cara-de-papa-cambiara-su-identidad-de-genero.jpg" alt="porducto Se単ores cara de papa " />
      </div>
      <p>Se単ores Cara de Papa</p>
      <strong>$120.000</strong>

      <div class="contenedor-botones"> 
        <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
      </div>
    
    </div>

    <div class="producto">
      <div class="producto-image">
        <img src="/img/Carro Lambom..jpg" alt="carro lambotgini " />
      </div>
      <p>Carro lambotgini</p>
      <strong>$100.000</strong>
      <div class="contenedor-botones"> 
        <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
      </div>
    </div>
    
  </div>
  
</section>

  <%- include('./partials/footer'); %>


  </body>
</html>
