<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/css/estilos.css" />
    <title>Total Toys</title>
  </head>
  <body>
    <header>
      <img src="/public/img/logo Total Toys.jpg" alt="se crea logo" />
      <nav id="menu">
        <a href="#">Inicio</a>
        <a href="productDetail.html">Detalle Del Producto</a>
        <a href="productcart.html">Detalle Del Carrito</a>
        <a href="login.html">Login</a>
      </nav>
      <div>
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <div class="baner">
      <img
        src="/public/img/banerg.bmp"
        alt="banner inicial del portatil"
        width="100%"
      />
    </div>

    <!-----seccion de los productos-->
    <div class="seccionDeLosProductos">
      <div class="productos">
        <img src="/public/img/barbe.jpg" alt="producto de la barbie" />
        <p>
          Muñeca Barbie fashionista, para niños de 3 años en adelante. La muñeca
          Barbie cuerpo original y lleva una falda 3/4. una blusa corta a juego,
          tenis estilo pantufla .
        </p>
        <a href=""></a>
      </div>

      <div class="productos">
        <img src="/public/img/dinosaurio.jpg" alt="producto dinosaurio" />
        <p>
          Dinosaurio Rex Tyrannosaurus Jurassic World Super Colossal Prepárate
          para una emocionante acción y aventura con Jurassic World! Watch out!,
          este Super Colosal Tyrannosaurus Rex está basado en el icónico
          Tyrannosaurus Rex de Jurassic World. características realistas detalle
          y la decoración.
        </p>
      </div>

      <div class="productos">
        <img src="/public/img/boss light.jpg" alt="Producto boss light. " />
        <p>
          Buzz Lightyear es un fabuloso guardián espacial que vuela con mucho
          estilo, es el mejor amigo de Woody y uno de los juguetes más
          calculador y racional. Tu hijo podrá recrear fantásticas aventuras con
          esta divertida figura que contiene más de 65 frases y un increíble
          modo de juego en el que reconoce frases y reacciona a ellas como
          caerse igual que en la película, además tiene casco retráctil, cabeza
          con movimiento, brazos articulados y alas desplegables
        </p>
      </div>

      <div class="productos">
        <img src="/public/img/yoda.jpeg" alt="porducto Yoda " />
        <p>
          Para los pequeños fans de la fantástica película Star Wars, llega este
          tierno y divertido Peluche de uno de los personajes más
          representativos. Tu hijo podrá recibir con los brazos abiertos la
          ternura de la especie de Yoda de 50 años con este adorable juguete de
          peluche, que luce como un Yoda bebé, pero a esta adorable criatura la
          llaman The Child, que está inspirado en la serie de acción de Disney+,
          The Mandalorian ¡Sorprende a tu pequeño, despierta su imaginación y
          anímate a llevarlo! Recomendado para niños mayores de 3 años.
        </p>
      </div>
    </div>
  </body>
</html>
