<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <meta charset="UTF-8" />
    <title>form form-login></title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="login-box">
      <h1>Login Here</h1>
      <form>
        <label for="usuario">usuario</label>
        <input type="text" placeholder="usuario" />

        <label for="password">password</label>
        <input type="password" placeholder=" password" />

        <input type="submit" value="login In" />

        <p><a href="#">¿olvidaste tu contraseña?</a></p>
        <p><a href="#">¿no tienes una cuenta?</a></p>
      </form>
    </div>
  </body>
</html>
