<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>Login</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="fondo">
      <div class="login-box">
        <h1>Login</h1>

        <form>
          <label for="usuario">Usuario</label>
          <input type="text" name="" value="" placeholder="usuario" />

          <label for="contraseña">Contraseña</label>
          <input type="password" name="" value="" placeholder="Contraseña" />

          <input type="submit" value="Iniciar Sesión" />

          <p><a href="#">¿Olvidaste tu contraseña?</a></p>
          <p><a href="/register">¿No tienes una cuenta?</a></p>
        </form>
      </div>
    </div>

    <%- include('./partials/footer'); %>
  </body>
</html>
