<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>Login</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="fondo">
      <div class="login-box">
        <h1>Login</h1>

        <form method="POST" action="/usuario/login">
          <label for="usuario">Usuario</label>
          <input type="text" name="email" value="" placeholder="usuario" required />
          <% if (locals.errors && errors.email){ %>
          <div class="text-danger">
            <%= errors.email.msg %>
          </div>
          <% } %>
          <label for="contraseña">Contraseña</label>
          <input type="password" name="password" value="" placeholder="Contraseña" required/>

          <input type="submit" value="Iniciar Sesión" />

          <a href="#">¿Olvidaste tu contraseña? </a>
          <a href="/usuario/register">No Tienes una cuenta?</a>
        </form>
      </div>
    </div>

    <%- include('./partials/footer'); %>
  </body>
</html>
