<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <meta charset="UTF-8" />
    <title>login</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="fondo">
    
    <div class="login-box">
      <h1>Login</h1>
      
      <form>
        <label for="usuario">usuario</label>
        <input type="text" placeholder="usuario" />

        <label for="contraseña">contraseña</label>
        <input type="password" placeholder=" contraseña" />

        <input type="submit" value="Iniciar sesión" />

        <p><a href="#">¿olvidaste tu contraseña?</a></p>
        <p><a href="/register">¿no tienes una cuenta?</a></p>
      </form>
    </div>
  </body>

 
</html>
