<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Mis Productos</title>
</head>
<body>
 
    <header>
        <!--LOGOTIPO-->
        <img src="/img/logo Total Toys.jpg" alt="">
        <!--MENU DE NAVEGACION-->
        
        <nav class="menu">
            <li><a href="/"><i class="fa-solid fa-shop"></i></a></li>
            <li><a href="/Productdetail">Detalle del producto<i class=""></i></a></li>
            <li><a href="/productcart">Mi Carrito<i class="fa-solid fa-cart-plus"></i></a></li>
            <li><a href="/login">loguin <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="/register">Registrarse<i class=""></i></a></li>
        </nav>


        <!--ICONO MENU HAMBURGUESA-->
        <div>
            <i class="fas fa-bars"></i>
        </div>
    
    </header>
    <div class="container-productos">
        <div class="producto">
            <img src="/img/Carro Lambom..jpg" alt="">
            <div class="Description">
                <h3>Coche  lamborghini</h3>
                <p>description</p>
                <p>$100.000 COP</p>
            </div>
            <div class="interaccion">
                <button> - </button>
                <p> 0 </p>
                <button> + </button>
            </div>
        </div>
        <div class="producto">
            <img src="/img/barbe.jpg" alt="">
            <div class="Description">
                <h3>Barbie Fashionista</h3>
                <p>description</p>
                <p>$60.000 COP</p>
            </div>
            <div class="interaccion">
                <button> - </button>
                <p> 1 </p>
                <button> + </button>
            </div>
        </div>
        <div class="producto">
            <img src="/img/boss light.jpg" alt="">
            <div class="Description">
                <h3>Boss Light </h3>
                <p>description</p>
                <p>$120.000 COP</p>
            </div>
            <div class="interaccion">
                <button> - </button>
                <p> 1 </p>
                <button> + </button>

    <!------
    <div class="dinosaurio">
        <img src="/images/dinosaurio.jpg" alt="" width="40%">
    </div>
    <div class="agregar a carrito"></div>
  --->
    </form>
</body>
</html>