<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="/css/pructodetail.css"/>
  
    <title>Total Toys</title>
  </head>
  <body>
    <header>
      <img src="/img/logo Total Toys.jpg" alt="se crea logo" />
      <nav class="menu">
        <li><a href="/"><i class="fa-solid fa-shop"></i></a></li>
        <li><a href="/Productdetail">Detalle del producto<i class=""></i></a></li><span></span>
        <li><a href="/productcart">Mi Carrito<i class="fa-solid fa-cart-plus"></i></a></li><span></span>
        <li><a href="/login">loguin <i class="fa-solid fa-right-to-bracket"></i></a></li><span></span>
        <li><a href="/register">Registrarse<i class=""></i></a></li>
      </nav>
      <div id="menu-icon">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
        <img class = "juguete" 
        src= "/img/Carro Lambom..jpg"> 
        
        
        <div class="article">
            <h4>Carro Lamborghini </h4>

            <div class="precio">
                <h4>$100.000</h4> 
            </div>
            
            <h4>descripcion</h4>
            <p> Lamborghini - Vehículo de juguete de aleación para automóvil fundido a presión con luces y sonido</p>
    
    
            <div class="seccion"> 
              <div class="contenedor-botones"> 
                <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
              </div>
              <div class="contenedor-botones"> 
                <button class="boton-comprar"><span>Comprar</span></button>
              </div>
            </div>

        </div>
       



    </main>

    <footer>
        <img class = "logo2" src= "images\logo.jpg"> 


        <div class="footer">
          
          <h4>INFORMACIÓN</h4>
    
          <h4>CONTACTOS</h4>
        </div>
    
    </footer>

  </body>
</html>


