<!DOCTYPE html>
<html lang="en"> 
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalle del producto</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
    <link href="/public/css/pructodetail.css" rel="stylesheet" type="text/css">    

  </head>

  <body>

    <header>

        <img class = "logo" src= "images\logo.jpg"> 
        <nav>
            <ul>
              <li><a href="#">INICIO</a></li>
              <li><a href="#">DETALLE DEL PRODUCTO</a></li>
              <li><a href="#">CARRITO</a></li>
              <li><a href="#">INICIAR SECCION</a></li>
              <li><a href="#">REGISTRARSE</a></li>
            </ul>
      
            
              <form>
                <input type="search" name="q" placeholder="Buscar">
                <input type="submit" value="¡Vamos!">
              </form>
             
           </nav>
      
    </header>

  

    <main>

        <img class = "juguete" 
        src= "images\juguete.jpg"> 
        
        
        <div class="article">
            <h4>CARRO CONTROL REMOTO</h4>

            <div class="precio">
                <h4>precio:$31.99</h4> 
            </div>
            
            <h4>descripcion</h4>
            <p> Threeking RC Cars Stunt car Control remoto Coche de doble cara Brazo oscilante 360 ° Flips Giratorio 4WD Outdoor Indoor Dance Car Toy Regalo para niños/niñas a partir de 6 años, 2 baterías recargables</p>
    
    
            <div class="seccion"> 
                <ul>
                    <li><a href="#">AGREGAR AL CARRITO</a></li>
                    <li><a href="#">COMPRAR AHORA</a></li>
                  </ul>
            </div>

        </div>
       



    </main>

    <footer>
        <img class = "logo2" src= "images\logo.jpg"> 


        <div class="footer">
          
          <h4>INFORMACIÓN</h4>
    
          <h4>CONTACTOS</h4>
        </div>
    
    </footer>

  </body>
</html>


