<!DOCTYPE html>
<html lang="en">
  <head> 
    <%- include('./partials/head'); %>
  <title>Pagina Detail</title>
  <link rel="stylesheet" href="/css/pructodetail.css"/>
  </head>
  <body>
    <%- include('./partials/header'); %>

    <main>
        <img class = "juguete" 
        src= "/img/Carro Lambom..jpg"> 
        
        
        <div class="article">
            <h4>Carro Lamborghini </h4>

            <div class="precio">
                <h4>$100.000</h4> 
            </div>
            
            <h4>descripcion</h4>
            <p> Lamborghini - Vehículo de juguete de aleación para automóvil fundido a presión con luces y sonido</p>
    
    
            <div class="seccion"> 
              <div class="contenedor-botones"> 
                <button class="boton-comprar"><span>Agregar Al Carrito</span></button>
              </div>
              <div class="contenedor-botones"> 
                <button class="boton-comprar"><span>Comprar</span></button>
              </div>
            </div>

        </div>
       



    </main>

    <%- include('./partials/footer'); %>
    
  </body>
</html>


