<!DOCTYPE html>
<html lang="en">
    <head> 
        <%- include('./partials/head'); %>
      <title>producto</title>
      <link rel="stylesheet" href="/css/productCart.css">
      </head>
<body>
    <%- include('./partials/header'); %>
    <div class="container-productos">
        <div class="producto">
            <img src="/public/img/Carro Lambom..jpg" alt="">
            <div class="Description">
                <h3>Coche  lamborghini</h3>
                <p>description</p>
                <p>$100.000 COP</p>
            </div>
            <div class="interaccion">
                <button> - </button>
                <p> 0 </p>
                <button> + </button>
            </div>
        </div>
        <div class="producto">
            <img src="/img/barbe.jpg" alt="">
            <div class="Description">
                <h3>Barbie Fashionista</h3>
                <p>description</p>
                <p>$60.000 COP</p>
            </div>
            <div class="interaccion">
                <button> - </button>
                <p> 1 </p>
                <button> + </button>
            </div>
        </div>
        <div class="producto">
            <img src="/img/boss light.jpg" alt="">
            <div class="Description">
                <h3>Buzz Lightyear</h3>
                <p>description</p>
                <p>$120.000 COP</p>
            </div>
            <div class="interaccion">
                <button> - </button>
                <p> 1 </p>
                <button> + </button>
            </div>     
        </div>
  
    </form>
    
    <%- include('./partials/footer'); %>

</body>

</html>