<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/productCart.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
 
    <header>
        <!--LOGOTIPO-->
        <img src="/images/logoTotalToys.jpeg" alt="">
        <!--MENU DE NAVEGACION-->
        <nav class="Menu">
            <a href="">INICIO</a>
            <a href="">DETALLE DEL PRODUCTO</a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="">REGISTRO</a>

        </nav>


        <!--ICONO MENU HAMBURGUESA-->
        <div>
            <i class="fas fa-bars"></i>
        </div>
    
    </header>
    <div class="container-productos">
        <div class="producto">
            <img src="/images/coche.webp" alt="">
            <div class="Description">
                <h3>Coche Optimus</h3>
                <p>description</p>
                <p>$80.000 COP</p>
            </div>
            <div class="interaccion">
                <button> - </button>
                <p> 0 </p>
                <button> + </button>
            </div>
        </div>
        <div class="producto">
            <img src="/images/batman.webp" alt="">
            <div class="Description">
                <h3>Coche Batman Rool</h3>
                <p>description</p>
                <p>$40.000 COP</p>
            </div>
            <div class="interaccion">
                <button> - </button>
                <p> 1 </p>
                <button> + </button>
            </div>
        </div>
        <div class="producto">
            <img src="/images/drone.webp" alt="">
            <div class="Description">
                <h3>DRONE POOLL</h3>
                <p>description</p>
                <p>$600.000 COP</p>
            </div>
            <div class="interaccion">
                <button> - </button>
                <p> 1 </p>
                <button> + </button>

    <!------
    <div class="dinosaurio">
        <img src="/images/dinosaurio.jpg" alt="" width="40%">
    </div>
    <div class="agregar a carrito"></div>
  --->
    </form>
</body>
</html>