<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>registro</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include('./partials/header'); %>
    <div class="fondo">
      <img src="../img/Image.jpeg" alt="" style="max-width: 500px">
      <div class="login-box">
        <h1>Formulario de Registro</h1>
        <form method="POST" action="/usuario/register" enctype="multipart/form-data">
          <label for="nombre">Nombre</label>
          <input id="registrarseNombre" name="nombre" type="text" placeholder="Nombre" required />
          <%if (locals.errors && errors.nombre) {%>

            <div>
                <%= errors.nombre %>
            </div>

        <% } %>
          <p class="formError">Nombre</p>
          <p id="formErrorNombre" class="formError">*El nombre solo puede contener letras.</p>

          <label for="apellido">Apellido</label>
          <input id="registrarseApellido" name="apellido" type="text" placeholder="Ingresa su Apellido" />

          <p class="formError"></p>
          <p id="formErrorApellido" class="formError">*El apellido solo puede contener letras.</p>

          <label for="email">Email</label>
          <input id="registrarseEmail" name="email" type="text" placeholder="Ingrese su Email" required />

          <p class="formError"></p>
          <p id="formErrorEmail" class="formError">*Correo electr칩nico no v치lido.</p>

          <label for="password">Password</label>

          <p class="formError"></p>
          <input id="registrarsePass" Error name="password" type="password" placeholder="Ingrese su Password" required/>
          
          <p id="formErrorPass" class="formError formPassError">*La contrase침a debe tener m치s de 6 caracteres.</p>

          <label for="">avatar</label>
          <input name="avatar" type="file">
          <p><input type="checkbox">Estoy de acuerdo con los terminos y condiciones</p>
          <input type="submit" value="Registrar" />
        </form>
      </div>
    </div>
    
    <%- include('./partials/footer'); %>

    <script src="js/validaciones.ejs "></script>
    <script>
      document.getElementById("registrarseNombre").addEventListener("click", function(event){
          document.getElementById("formErrorNombre").style.display = "block";
      });

      document.getElementById("registrarseApellido").addEventListener("click", function(event){
          document.getElementById("formErrorApellido").style.display = "block";
      });

      document.getElementById("registrarseEmail").addEventListener("click", function(event){
          document.getElementById("formErrorEmail").style.display = "block";
      });

      document.getElementById("registrarsePass").addEventListener("click", function(event){
          document.getElementById("formErrorPass").style.display = "block";
      });
    </script>
  </body>
</html>
