<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>registro</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <div class="fondo">
      <div class="login-box">
        <h1>Formulario de Registro</h1>
        <form method="POST" action="/usuario/register" enctype="multipart/form-data">
          <label for="first_name">Nombre</label>
          <input name="first_name" type="text" placeholder="Nombre" required />

          <label for="last_name">Apellido</label>
          <input name="last_name" type="text" placeholder="Ingresa su Apellido" required />

          <label for="email">Email</label>
          <input name="email" type="text" placeholder="Ingrese su Email" required />
          <label for="password">Password</label>
          <input name="password" type="password" placeholder="Ingrese su Password" required/>
          <label for="">avatar</label>
          <input name="avatar" type="file">

                  <input type="submit" value="Registrar" />
          
         
          <P> ch Estoy de acuerdo con los terminos y condiciones</P>
        </form>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
