<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>registro</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <div class="fondo">
      <div class="login-box">
        <h1>Formulario de Registro</h1>
        <form method="POST" action="/usuario/registro">
          <label for="Nombre">Nombre</label>
          <input name="nombre" type="text" placeholder="Nombre" required />

          <label for="Apellido">Apellido</label>
          <input name="Apellido" type="text" placeholder="Ingresa su Apellido" required />

          <label for="Email">Email</label>
          <input type="text" placeholder="Ingrese su Email" required />
          <label for="Password">Password</label>
          <input type="password" placeholder="Ingrese su Password" required/>
          <input type="submit" value="Registrar" />
          <P> Estoy de acuerdo con los terminos y condiciones</P>
        </form>
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
