<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>registro</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include('./partials/header'); %>
    <div class="fondo">
      <img src="../img/Image.jpeg" alt="" style="width:100%">
      <div class="login-box">
        <h1>Formulario de Registro</h1>
        <form method="POST" action="/usuario/register" enctype="multipart/form-data">
          <label for="nombre">Nombre</label>
          <input name="nombre" type="text" placeholder="Nombre" required />

          <p class="formError"></p>
          <p class="formError">*El nombre solo puede contener letras.</p>

          <label for="apellido">Apellido</label>
          <input name="apellido" type="text" placeholder="Ingresa su Apellido" required />

          <p class="formError"></p>
          <p class="formError">*El apellido solo puede contener letras.</p>

          <label for="email">Email</label>
          <input name="email" type="text" placeholder="Ingrese su Email" required />

          <p class="formError"></p>
          <p class="formError">*Correo electr칩nico no v치lido.</p>

          <label for="password">Password</label>
          <input name="password" type="password" placeholder="Ingrese su Password" required/>

          <p class="formError"></p>
          <p class="formError">*La contrase침a debe tener m치s de 6 caracteres.</p>

          <label for="">avatar</label>
          <input name="avatar" type="file">
          <p><input type="checkbox">Estoy de acuerdo con los terminos y condiciones</p>
          <input type="submit" value="Registrar" />
        </form>
      </div>
    </div>
    <%- include('./partials/footer'); %>

    <script src="js/validaciones.js"></script>
  </body>
</html>
