<!DOCTYPE html>
<html lang="es" dir="itr">
    <head> 
        <%- include('./partials/head'); %>
        <title>registro</title>
        <link rel="stylesheet" href="/css/register.css">
      </head>
<body>
<div class="fondo">
<div class="login-box">

<h1>Formulario de registro</h1>
<form>

<label for="Nombre">Nombre</label>
<input type="text" placeholder="Ingresa su Nombre">

<label for="Apellido">Apellido</label>
<input type="text" placeholder="Ingresa su Apellido">

<label for="Email">Email</label>
<input  type="Correo" placeholder="Ingrese su Email">
<label for="Password">Password</label>
<input  type="" placeholder="Ingrese su Password">
<input type="submit"  value="Registrar">
<P> Estoy de acuerdo con<a href="#">terminos y condiciones</a></P>


</form>
</div>
</div>
</body>
</html>
