<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/css/userProfile.css"/>
    <title>Total toys/Perfil</title>
</head>

<body>
  <header>
    <img src="/img/logo Total Toys.jpg" alt="se crea logo" />
    <nav class="menu">
      <li><a href="/"><i class="fa-solid fa-house"></i>&nbsp; Inicio</i></a></li>
      <li><a href="/productos/listar"><i class="fa-solid fa-store"></i>&nbsp; Catálogo</a></li>
      <li><a href="/productcart"><i class="fa-solid fa-cart-plus"></i>&nbsp; Mi Carrito</a></li>
      <li><a href="/productos/crear-producto"><i class="fa-solid fa-puzzle-piece"></i>&nbsp; Agregar Producto</a></li>
      <form action="/usuario/logout" method="POST">
        <li><a href="/"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Logout</a></li> 
        
      </form>

    </nav>
    
  </header>
  <div class="login-box">
    <h1>Datos de usuarios</h1>
    <form method="POST" action="/usuario/register" enctype="multipart/form-data">
      <label for="nombre">Nombre</label>
      <input name="nombre" type="text" placeholder="Nombre" required />

      <label for="apellido">Apellido</label>
      <input name="apellido" type="text" placeholder="Ingresa su Apellido" required />

      <label for="email">Email</label>
      <input name="email" type="text" placeholder="Ingrese su Email" required />
      
        <button type="submit"><i class="fa-solid fa-trash"></i>&nbsp; Eliminar</button>
        
      
      
    </form>
  </div>
  
    <%- include('./partials/footer'); %>
</body>
</html>