<!DOCTYPE html>
<html lang="es" dir="itr">
  <head>
    <%- include('./partials/head'); %>
    <title>userProfile</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('./partials/header'); %>
    <div class="fondo">
      
       
      </div>
    </div>

    <%- include('./partials/footer'); %>

    </body>
</html>