@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Tiro+Devanagari+Sanskrit&display=swap");

* {
  list-style:none;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


 



/*-------header -----*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1% 0;
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(255, 255, 255);
  /* position: fixed; */
  /* width: 100%; */
}

.logo{
  color: #000000;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 
  5px 5px 2px rgb(255, 212, 232);
  font-weight: 900;
}

.menu{
    display: flex;
}

.menu li a {
      transition:0s;
}

.menu :hover{
  color: rgb(255, 212, 232);
}

.menu li a  {
  text-decoration: none; 
  color: #0c0c0d; 
   margin-left: 25px; 
   margin-right: 25px;
  font-size: 20px; 
  padding: 2px;
}

/*-------fin del header -----*/










.baner{
  width:100%; 
  height: 600px; 
  animation:baner 10s infinite linear  alternate;
  background-size:100% 100%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items:center;
}

@keyframes baner{
  0%, 20%{
    background-image: url(../img/baner1.jpeg);
  }
  25%, 45%{
    background-image: url(../img/baneer2.jpeg);
  }
  50%, 70%{
    background-image: url(../img/baner3.jpeg);
  }
  75%, 100%{
    background-image: url(../img/baner4.jpeg);
  }

} 


.listado{
  color: #000000;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 
  5px 5px 2px rgb(255, 212, 232);
  font-weight: 900;
}

.capa{
  width: 100%;
  height:100%;
  position: absolute;
  top:0;
  left: 0;
  background:rgba(0,0,0,0);
}
.info{
  z-index:1;
  width:100%;
  max-width: 550px;
  text-align: center;
}
.info h1{
  color: hwb(0 97% 1%);
  font: size 300px;
  margin-bottom :20px;
  letter-spacing:3px;


}

.info p{
  color: #f2d1d1;
  line-height:2.0;
  margin-bottom :30px;

}

.info a{
  color: hsl(240, 10%, 94%);
  text-decoration:none;
  background:#715efd;
  padding: 18px 37px ;
  display :inline-block;
  border-radius:60px; 
}



/*-------seccion de los porductos -----*/


.seccionDeLosProductos {
  width: 98%;
  display: flex;
  padding-top:10px;
  padding-bottom:10px;
  margin: 0 auto; 
  flex-wrap: wrap; 
  
}

.producto { 
      width: 20%; 
      margin: 30px;
			border: 1px solid black;
			box-shadow: 5px 5px grey;
			padding: 10px;
			border-radius: 10px; 
      transition: all 0.3s ease;
      
 }





 .producto .producto-image {
  width: 100%; 
   height: 280px; 
   height: 150px;
} 

 .producto img {
  display: flex;
  margin: auto;
  max-width: 100%;
  max-height: 110%;
} 

.productoPrecio {
  font-size: 20px;
  text-align: center;
  color: #f60;
}

.productoNombre {
  font-size: 20px;
  text-align: center;
}


.boton-comprar{
  width: 100%;
  height: 40px;
  text-transform: uppercase;
 
}

.contenedor-botones {
  background-color: rgb(255, 212, 232);
} 
 



























@media (max-width: 700px) {
  #menu {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  /*-------seccion de los porductos -----*/

  .producto {
    width: 100%;
  }
}


.pie-pagina{
  width: auto;
}

.pie-pagina .grupo-1{
 width: 100%;
 max-width: 1800px;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 50px;
 padding:45px 0px;

}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center ;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 150px;
}

.pie-pagina .grupo-1 .box h2{
  color: rgb(17, 17, 18);
  margin-bottom: 15px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
  color:#0e0e0f;
  margin-bottom: 9px;
  
}

/* VALIDACIONES */

.formError {
  color: red;
  display: none;
}


/* **************** */

.Redes-Sociales {
  font-size: 2rem;
}



.producto:hover {
  box-shadow: 5px 10px 18px #888888;
  transition: 0.3s;
}

.producto a {
  color: black;
  text-decoration: none;
}

    .producto a:hover {
      color: black;
    }







